<html>
<head>
    <title>{{title}} </title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/"> Home </a>
            </li>
            <li>
                <a href="/floor_plans"> Floor Plans </a>
            </li>
            <li>
                <a href="/amenities"> Amenities </a>
            </li>
            <li>
                <a href="/location"> Location </a>
            </li>
            <li>
                <a href="/application"> Application </a>
            </li>
            <li>
                <a href="/contact"> Contact </a>
            </li>
            <li>
                <a href="https://villagefh.twa.rentmanager.com/" target="_blank"> Tenant Web Access </a>
            </li>

        </ul>
    </nav>
    <h1>Forest Hills Manor</h1> 
        {{content | safe}}

</body>

</html>